.more-screen .icon-row {
  margin-top: 60px;
}

.more-suggestions {
  border-top: var(--main-border);
  margin-top: 50px;
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 20px;
}

.more-suggestions__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.more-suggestions__icon {
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image:hover {
  cursor: pointer;
  animation: closeIcon 0.5s linear infinite;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}

.more-suggestions__icon-text {
  text-align: center;
  min-width: 100px;
  color: var(--text-gray);
}

@keyframes closeIcon {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: none;
  }
}
