.badge {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: 500;
}

.badge2 {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.badge3 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 23px;
  top: -5px;
}
