.screen-header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  color: var(--wet-asphalt);
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  position: relative;
  margin-left: 25px;
  transition: color 0.5s ease-in-out;
}

.screen-header__icons span:hover {
  color: var(--yellow);
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  color: var(--yellow);
  animation: rotateCog 1s linear infinite;
}

@keyframes rotateTitle {
  form {
    transform: none;
  }
  to {
    transform: rotateY(360deg);
  }
}

.title-effect:hover {
  color: var(--yellow);
  animation: rotateTitle 1s linear infinite;
}
