.status-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  background-color: white;
  color: var(--wet-asphalt);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.status-bar__column {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}

.status-bar__time {
  font-size: 15px;
}

.status-bar__notification {
  font-size: 10px;
  background-color: var(--wet-asphalt);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.status-bar__column i:last-child {
  font-size: 18px;
}
