.user-component {
  justify-content: space-between;
  margin-bottom: 30px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: var(--text-gray);
  display: flex;
  align-items: center;
}

.user-component__subtitle i {
  color: tomato;
  font-size: 18px;
  margin-left: 5px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__subtitle--not-bold,
.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: var(--text-gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__profile {
  font-size: 12px;
  border: 1px solid var(--concrete);
  border-radius: 30px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}

.user-component__profile:hover {
  background-color: var(--concrete);
  color: white;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}

.usercomponent__column-more-icon i {
  font-size: 30px;
  color: var(--wet-asphalt);
}

.usercomponent__column-more-icon i:hover {
  cursor: pointer;
  animation: movingIcon 1s linear infinite;
}

@keyframes movingIcon {
  0% {
    transform: none;
  }
  25% {
    scale: 1.1;
    transform: translateX(-10px);
  }
  50% {
    scale: 1.1;
    transform: none;
  }
  75% {
    scale: 1.1;
    transform: translateX(10px);
  }
  100% {
    transform: none;
  }
}
